<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id="address1" class="com.loading.injectingcollection.ExampleBean">
        <property name="value" value="INDIA"/>
    </bean>
    <bean id="address2" class="com.loading.injectingcollection.ExampleBean">
        <property name="value" value="Pakistan"/>
    </bean>
    <bean id="address3" class="com.loading.injectingcollection.ExampleBean">
        <property name="value" value=""/>
    </bean>
    <bean id="address4" class="com.loading.injectingcollection.ExampleBean">
        <property name="value"><null/></property>
    </bean>

    <bean id="javaCollection" class="com.loading.injectingcollection.JavaCollection">
        <property name="addressList">
            <list>
                <ref bean="address1"/>
                <ref bean="address2"/>
                <value>USA</value>
                <value>USA</value>
            </list>
        </property>
        <property name="addressSet">
            <set>
                <ref bean="address1"/>
                <ref bean="address2"/>
                <value>USA</value>
                <value>USA</value>
            </set>
        </property>
        <property name="addressMap">
            <map>
                <entry key="1" value-ref="address1"/>
                <entry key="2" value-ref="address2"/>
                <entry key="3" value="USA"/>
                <entry key="4" value="USA"/>
            </map>
        </property>
        <property name="addressProp">
            <props>
                <prop key="one">INDIA</prop>
                <prop key="two">Pokistan</prop>
                <prop key="three">USA</prop>
                <prop key="four">USA</prop>
            </props>
        </property>
    </bean>

</beans>